body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: url(/images/pexels-red.jpg);
  height:350px;
  width: 100%;
  margin: 20px 0;
  
}

.header{
    color: #ececec;
    text-align: center;
}

.hidden{
    display: none;
}

.players{
    display: flex;
    justify-content: space-around;
}
.player{
    background-color: #ececec;
    border-radius: 10px;
    padding: 20px;
}

.container{
    border-radius: 5px;
    width:40%;
    background-color: black;
    padding-bottom: 20px;
    
}

img{
height: 90px;
padding: 10px;
padding-bottom: 20px;
}

.diceButton{
padding-bottom: 15px;
}