body {
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
  background-image: url(/images/pexels-red.jpg);
  height: 350px;
  background-size: contain;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  text-align: center;
}

.buttons {
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.header {
  color: #ececec;
  text-align: center;
}
/* header css ends */

/* instructions */
.hidden {
  display: none;
}

/* main content css starts */
.startGame {
  text-align: center;
  font-size: 70px;
  font-family: "Permanent Marker", cursive;
}

.play {
  margin: 50px 0;
}

.players {
  display: flex;
  justify-content: space-around;
}
.firstPlayer,
.secondPlayer {
  background-color: #ececec;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.container {
  border-radius: 5px;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  padding-bottom: 20px;
}

img {
  height: 100px;
  padding: 10px;
  padding-bottom: 30px;
}

.dice-container{
  padding-top: 10px;
}

.diceButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.score {
  align-items: center;
  text-align: center;
}
.gameButtons {
  width: 20vh;
}
/* main content css ends */
